.home h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.home img {
    margin-top: 25px;
    margin-left: 29px;
    padding: 20px;
    width: 100%;
    max-width: 470px;
    height: auto;
}

.add {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #00b4db, #0083b0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.add h2{
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .home img {
        margin-left: 0;
    }

    .add {
        margin-top: 40px;
        padding: 15px;
    }

    .home h1 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .home img {
        margin-top: 15px;
        padding: 10px;
    }

    .add {
        margin-top: 20px;
        padding: 10px;
    }

    .home h1 {
        font-size: 18px;
    }
}
