/* Navbar container */
nav {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
  }
  
  /* Navbar title (h1) */
  nav h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15px;
    margin-right: 650px;
    color: black;
  }
  
  /* Navigation links (ul) */
  nav ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 10px;
    list-style: none;
  }


  nav ul li {
    font-weight: bold;
    font-size: larger;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: white;
  }



